You need also to initialize it in head part:
	<script>
	$(document).ready(function(){
	$(function(){
		$("#mytable").tablesorter();
		});
	});
	</script>




    <div>
    <table id="mytable" class="tablesorter">
    <thead>
    <tr>
    <th>Hospital Name</th>
    <th>Address</th>
    <th>Score.1</th>
    <th>Score.2</th>
    <th>Average Cost US$</th>
    </tr>
    </thead>
    <tbody> 
    <tr><td>Sinai</td><td>235 E40th, New York, NY 10016</td><td>10</td><td>Low</td><td>6000</td></tr>
    <tr><td>Beth Israel</td><td>235 E39th, New York, NY 10016</td><td>15</td><td>High</td><td>12000</td></tr>
    <tr><td>Presbetrian</td><td>235 E38th, New York, NY 10016</td><td>70</td><td>High</td><td>25000</td></tr>
    <tr><td>NYU Langune</td><td>235 E37th, New York, NY 10016</td><td>25</td><td>High</td><td>32000</td></tr>
    <tr><td>Jewish Medical Center</td><td>235 E36th, New York, NY 10016</td><td>50</td><td>Not Specified</td><td>4000</td></tr>
    <tr><td>Bellevue</td><td>235 E35th, New York, NY 10016</td><td>45</td><td>Not Specified</td><td>18000</td></tr>
    <tr><td>Holy Name Medical Center</td><td>235 E33th, New York, NY 10016</td><td>98</td><td>High</td><td>3000</td></tr>
    </tbody>
    </table>

    </div>

